<spacer size='40'></spacer>
<wrapper class="footer_wrap">
  <spacer size='30'></spacer>
  <container class="footer">
    <row class="collapse">
      <columns large="5" small="12">
        <table class="grid">
          <tr>
            <td><a href="#"><img src="{{global.logo_bottom}}" alt=""></a></td>
          </tr>
          <tr>
            <td>
              <spacer size='10'></spacer>
            </td>
          </tr>
          <tr>
            <td><span class='text'>Copyright &#169; 2018 Company Name</span></td>
          </tr>
        </table>

      </columns>
      <columns large="7" small="12">
        <spacer size='10'></spacer>
        <table class="grid">
          <tr>
            <td class="text-right small-text-left"><span class='text'>You are receiving this newsletter because you have subscribed.</span></td>
          </tr>
          <tr>
            <td><spacer size='10'></spacer></td>
          </tr>
          <tr>
            <td class="text-right small-text-left"><span class='text'>Rather not receive our newsletter anymore?</span> <a class='link' href="#">Unsubscribe</a></td>
          </tr>
        </table>
      </columns>
    </row>
  </container>
  <spacer size='30'></spacer>
</wrapper>
