<spacer size='40'></spacer>
<wrapper>
  <container class="gallery">
    <row class="collapse">
      <columns large='12' class='gallery_h2'>
        <wrapper class='h2-wrapper'>
          <spacer size='27'></spacer>
          <h2 class='h2-title'>Latest Projects</h2>
          <spacer size='22'></spacer>
        </wrapper>
      </columns>
    </row>
    <spacer size='7'></spacer>
    <row class="collapse">

      <columns large='5'>
        <center>
          <table class="grid">
            <tr>
              <td class='wrapp_w158'>
                <a href="#">
                  <img class="image_158x145" src="{{global.image_0}}" alt="{{global.alt_0}}">
                </a></td>
              <td class="gap">&#160;</td>
              <td class='wrapp_w158'>
                <a href="#">
                  <img class="image_158x145" src="{{global.image_1}}" alt="{{global.alt_1}}">
                </a></td>
            </tr>
            <tr>
              <td colspan="3">
                <spacer size='6'></spacer>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <a href="#">
                  <img class="image_322x145" src="{{global.image_2}}" alt="{{global.alt_2}}">
                </a></td>
            </tr>
          </table>
          <!-- <spacer size='5'></spacer> -->
        </center>
      </columns>

      <columns large='2'>
        <table>
          <tr>
            <td class="gallery_gap">&#160;</td>
          </tr>
        </table>
      </columns>
      <columns large='5'>
        <center>
          <table class="grid">
            <tr>
              <td colspan="3">
                <a href="#">
                  <img class="image_322x145" src="{{global.image_3}}" alt="{{global.alt_3}}">
                </a></td>
            </tr>
            <tr>
              <td colspan="3">
                <spacer size='6'></spacer>
              </td>
            </tr>
            <tr>
              <td class='wrapp_w158'>
                <a href="#">
                  <img class="image_158x145" src="{{global.image_4}}" alt="{{global.alt_4}}">
                </a></td>
              <td class="gap">&#160;</td>
              <td class='wrapp_w158'>
                <a href="#">
                  <img class="image_158x145" src="{{global.image_5}}" alt="{{global.alt_5}}">
                </a></td>
            </tr>
          </table>
          <!-- <spacer size='5'></spacer> -->
        </center>
      </columns>
    </row>
  </container>
</wrapper>
