
<container class="pre-header">
  <spacer size='3'></spacer>
  <row class='collapse'>
    <columns>
      <p class="text-center text-wrap"><span class="text">Having trouble viewing this email?</span> <a href="#" class="link">View it in your browser</a></p>
    </columns>
  </row>
  <spacer size='3'></spacer>
</container>
<wrapper class="header-color">
<container class="header">
  <spacer size='16'></spacer>
  <row class="collapse">
    <columns >
      <a href="#" class="link">
        <img class="logo small-float-center" src="{{global.logo}}" alt="logotype">
      </a>
    </columns>
  </row>
  <spacer size='13'></spacer>
</container>
</wrapper>
