
//  All user's colors
// Bg-colors
// Html, container
$u-black: #343b43;
// Pre-header
$u-black_1: #252a30;
// Hero
$u-green: #1fb6af;
// Hero-button
$u-white: #ffffff;
// Main-H2, gallery-h2
$u-red: #e26352;
// Main-menu-1, Main-menu-2(odd)
$u-gray: #e6e6e6;
// Main-menu-2(even)
$u-gray_1: #dadada;
// Footer
$u-gray_3: #4e616d;

// Font colors
// Header-text
$u-gray_4: #7c7f83;
// Header-link
$u-gray_5: #969a9f;
// Header-date
$u-gray_6: #aeb1b4;
// Hero-H1
$u-white: #ffffff;
// Hero-text
$u-green_2: #bce9e7;
// Hero-button Hero-text
$u-red: #e26352;
// Main-H2, gallery-h2
$u-white: #ffffff;
// Main-H3
$u-black: #343b43;
// Main-text
$u-gray_7: #9b9b9b;
// Main-link
$u-red: #e26352;
// Footer-text
$u-gray_8: #95a0a7;
// Footer-link
$u-gray_9: #b2bcc3;

// Border-colors
// Hero-button shadow
$u-green_3: #1ca39d;
// Main-double Border
$u-gray_10: #b8b8b8;
$u-white: #ffffff;

// Font-sizes and line-height
// Header
$u-tiny: 10px;
// Header-date
$u-big: 16px;
// Hero-H1
$u-extra-large: 38px;
$u-extra-large_lh: 48px;
// Hero-text, buttom( not: lh)
$u-normal-2: 14px;
$u-normal-2_lh: 22px;
// Main-H2, gallery-h2
$u-big: 16px;
// Main-H3
$u-normal: 14px;
// Main-text, main-link
$u-small: 12px;
$u-small_lh: 18px;
// Footer
$u-tiny-2: 11px;
