table.body {
  & .main {
    background-color: $user-gray_1;

    & .title {
      color: $user-white;
      font-size: $hero-h1-fz;
      text-transform: uppercase;
    }

    & img {
        @include circled;
    }

    & .text {
      color: $user-white;
      font-size: $main-fz;
      line-height: 20px;
    }

    & .body_button {
      @include button_1($user-gray_1, $user-white_1);
    }
  }
}
