.body {
  & .main {
    & .content-wrapper {
      background: #fefefe;
      width: 486px;
      height: auto !important;

      & .img {
        width: 159px;
        height: 85px;
        vertical-align: top;
      }
    }

    & .text {
      color: $user-gray-2;
      line-height: 24px;
    }
  }
  @media screen and (max-device-width: $global-breakpoint) {
    & .bg-img {
      background: #fefefe !important;
    }

    & .content-wrapper {
      width: auto !important;
    }
  }
}
