 .main {
    & .title {
      & .sheets-top {
        background-image: url("img/sheets-top.png");
        background-size: 101% auto;
        background-position: 50% 0;
        background-repeat: no-repeat;
      }

      & .title-h1 {
        font-size: 35px;
        color: $user-red-1;
        font-weight: bold;
        text-transform: uppercase;
      }

      & .title-h2 {
        font-size: 16px;
        color: $user-gray-2;
        text-transform: uppercase;
      }
    }
  }
