$global-padding: 0;


//user's colors
$u-yellow: #eaaf46;
// $u-white: #ffffff;
// $u-black: #000000;
$u-white: $white;
$u-black: $black;

$body-background: $u_white;
$container-background: $u_white;
// $button-background: $u_yellow;
// $button-border: none;

// font-sizes

$u-h1: 80px;
$u-h2: 30px;
$u-h3: 25px;
$u-button: 20px;
$u-commontext-fz: 20px;
$u-commontext-lineht: 25px;

$hero-fz: 12px;
$under-footer-fz: 16px;
$u-lineht: 1;
