<container class="pre-header">

  <row>
    <columns>
      <spacer size='10'></spacer>
      <p class="small-text-center">
        <span class="text">Having trouble viewing this email?<span>
            <a class='text decoration-link' href="#">View it in your browser</a>
      </p>
    </columns>

    <columns valign="middle">
      <spacer size='10'></spacer>
      <p class="u-wrapper small-text-center text-right">
        <a class='text link' href="#">
          <span class="arrow">&#9654; </span>
          Online Version</a>
        <a class='text link' href="#">
          <span class="arrow">&#9654; </span>
          Forward to a Friend</a>
      </p>
    </columns>
  </row>
  <spacer size='10'></spacer>
</container> <!--/.pre-header -->

<container class="header-logo">
  <spacer size='40'></spacer>
  <row class="collapse">
    <columns><a href="#"><img class='small-float-center image' src="{{global.logo_top}}" alt="FlatMail's logo"></a></columns>
    <columns>
      <spacer size='10'></spacer>
      <p class="date text-right">May 2018</p>
    </columns>
  </row>
  <spacer size='40'></spacer>
</container>
