<container class="hero">
  <spacer size='40'></spacer>
  <row>
    <columns large='6'>
      <h1 class='title-h1'>Email Template in Flat Style</h1>
      <spacer size='5'></spacer>
      <p class='text'>Quisque sagittis sapien ut ipsum pharetra fermentum. In ut lectus in turpis commodo ullamcorper ut ullamcorper tellus.</p>
      <spacer size='27'></spacer>

      <button class='large'  href='#'>View More</button>

      <spacer size='42'></spacer>
    </columns>
    <!-- <columns large='5' class="large-offset-1"> -->
    <columns large='6'>

      <spacer size='13'></spacer>
<center>
        <img class="small-float-center image" src="{{global.hero_img}}" alt="gears">
</center>
      <spacer size='40'></spacer>
    </columns>
  </row>
</container>

<spacer size='40'></spacer>
