<container class= 'social_icons'>
  <spacer size='15'></spacer>
  <row>
    <columns></columns>
    <columns large='4'>
      <center>
        <table class="si_wrapper">
          <tr>
            {{#each global.set_2}}
            <td width='5' height='27' class="gap"></td>
            <td width='28' class="link_wrap"><a href="#"><img src="{{image}}" alt="{{alt}}"></a></td>
            <td width='5' class="gap"></td>
            {{/each}}
          </tr>
        </table>
      </center>
    </columns>
    <columns></columns>
  </row>
  <spacer size='15'></spacer>
</container>
<container class="sub-footer">
  <spacer size='10'></spacer>
  <row>
    <columns>
      <p class="text text-center">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, perspiciatis. Voluptas error hic soluta magni eos explicabo quos architecto culpa officiis tempora voluptatem molestias accusantium, rerum id nisi cum temporibus!
      </p>
    </columns>
  </row>
  <spacer size='10'></spacer>
  <row>
    <columns>
      <p class="text text-center">{{date}}</p>
    </columns>
  </row>
  <spacer size='10'></spacer>
</container>
