<container class="hero">
  <spacer size='30'></spacer>
  <row>
    <columns large='7'>
      <wrapper class='section'>
      <spacer size='20'></spacer>
      <h1 class='title'><span class='hero-h1_1'>RECENT </span><span class='hero-h1_2'> PROJECTS</span></h1>
      <spacer size='20'></spacer>
      <p class='text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, quod repellat, aperiam illo cumque dolorem architecto reprehenderit sapiente ratione, pariatur, consectetur.</p>
      <spacer size='25'></spacer>
      {{> hero_button}}
    </wrapper>
      <spacer size='35'></spacer>
    </columns>
    <columns large='5'>
      <center><img src="{{global.hero_img}}" alt="lovely_photo"></center>
      <spacer size='35'></spacer>
    </columns>
  </row>
</container>
