<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{root}}user-styles.css" inline>
</head>

<body>
  <table class="body">
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
          <spacer size='30'></spacer>
          {{> header}}
          <spacer size='20'></spacer>
          {{> body}}
          <spacer size='20'></spacer>
          {{> footer}}
          <spacer size='25'></spacer>
        </center>
      </td>
    </tr>
  </table>
</body>

</html>
