<container class="pre-header">
  <spacer size='6'></spacer>
  <row>
    <columns>
      <p class="text-center text-wrap"><span class="text">Having trouble viewing this email?</span> <a href="#" class="link">View it in your browser</a></p>
    </columns>
  </row>
  <spacer size='10'></spacer>
</container>

<container class="nav">
  <row>
    <columns large='6' small='12' valign='middle'>
       <spacer size='20'></spacer>
       <a href="#">
      <img class="image" src="{{global.logo_top}}" alt="logotype"></a>
    </columns>

    <columns large='6' small='12' >
  <spacer size='20'></spacer>
  <center>
      <menu>
        <item  href="#"><span class="active">Home</span></item>
        <item href="#">About</item>
        <item href="#">Projects</item>
        <item href="#">Work</item>
        <item href="#">Blog</item>
      </menu>
</center>
    </columns>

  </row>
  <spacer size='20'></spacer>
</container>
